/*last edited on April 20th, Christian Cooper*/

.background2{background-color: olivedrab;}

.menuappearance{font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-style:normal;
                font-weight: bolder;
                text-decoration-color: olive;}


.tableauPlaceholder{width:60% !important;
                    height:30% !important;}

.centerT{text-align: center}